{% extends "base.html" %}

{% block title %}
Payment
{% endblock %}

{% block content %}
<div class='col-6 mx-auto'>

    <form action="pay" method='POST'>
       {% csrf_token %}
       
        <div class="form-group"><br><br>
            <p>You have to pay 200 rupees as a appointment booking charge</p>

          </div>
          
    </form>

{% if payment %}
<div class='text-center mx-auto'>
<form action="{% url 'payment_success' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="booking_id" value="{{ booking.id }}">
    <script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_s9NGH58YEB5LpP"
        data-amount="{{ amount|floatformat:0 }}00"
        data-currency="INR"
        data-order_id="{{ payment.id }}"
        data-name="Hospital"
        data-description="Appointment Payment"
        data-prefill.name="{{ booking.p_name }}"
        data-prefill.email="{{ booking.p_email }}"
        data-theme.color="#528FF0">
    </script>
</form>

</div>
{% endif %}

{% endblock %}